/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

/* Common Part */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.container {
  margin-top: 21px;
  cursor: default;
}
hr {
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
}
h2 {
  font-size: 30px;
  color: #3a3a3a;
}

/* Button */
.primary-btn {
  width: 196px;
  height: 44px;
  padding: 10px;
  font-weight: 700;
  background-color: #e02c6d;
  color: #ffffff;
  border: none;
  border-radius: 41px;
  cursor: pointer;
}
.primary-btn:hover {
  color: #250724;
  opacity: 0.8;
}

/* Nav Bar */
header {
  background-size: cover;
  background-color: #ffffff;
  background-blend-mode: overlay;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  padding: 15px 10px;
}
.navigation li a:hover {
  color: #e02c6d;
}
#home {
  margin: 20px 120px;
}

.page-title {
  white-space: nowrap;
  width: 0;
  height: 44px;
  background-color: #e02c6d;
  transition: 2s;
  border-radius: 11px;
}
.page-title:hover {
  width: 244px;
}
/* Banner */
.banner {
  height: calc(100vh - 80px);
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 150px;
}
.banner-left {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left h1 {
  font-size: 45px;
  line-height: 1px;
}
.banner-left p {
  color: #3a3a3a;
  font-size: 18px;
  line-height: 1.5px;
  margin: 20px 0;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-right img {
  width: 75%;
  background-image: url(../images/Circle-design.svg);
  background-repeat: no-repeat;
}

.banner-animation {
  font-size: 60px;
  white-space: nowrap;
  position: relative;
  color: transparent;
}
.banner-animation::before {
  content: "Influencer";
  position: absolute;
  top: 0;
  left: 0;
  color: #3a3a3a;
  animation: typing 3s linear infinite;
}
@keyframes typing {
  0% {
    content: "I|";
  }
  5% {
    content: "In|";
  }
  10% {
    content: "Inf|";
  }
  15% {
    content: "Infl|";
  }
  20% {
    content: "Influ|";
  }
  25% {
    content: "Influe|";
  }
  30% {
    content: "Influen|";
  }
  35% {
    content: "Influenc|";
  }
  40% {
    content: "Influence|";
  }
  45%,
  88% {
    content: "Influencer|";
  }
  89% {
    content: "Influence|";
  }
  90% {
    content: "Influenc|";
  }
  91% {
    content: "Influen|";
  }
  92% {
    content: "Influe|";
  }
  93% {
    content: "Influ|";
  }
  94% {
    content: "Infl|";
  }
  95% {
    content: "Inf|";
  }
  96% {
    content: "In|";
  }
  97% {
    content: "I|";
  }
  98% {
    content: "|";
  }
  99% {
    content: "|";
  }
  100% {
    content: "|";
  }
}

/* Logos */
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  margin: 0 210px;
}

/* Popular Collection */
.section-title {
  margin: 100px;
  text-align: center;
}
.collections {
  margin: 0 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.collection {
  max-width: 329px;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #e2e2e2;
  cursor: pointer;
}
.collection .collection-banner img {
  width: 270px;
}
.collection-details h3 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
}
.collection-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #3a3a3a;
}
.collection-info p {
  line-height: 0;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

.see-more {
  text-align: right;
  list-style: none;
  margin: 15px 120px;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
  font-weight: 600;
  padding: 15px 10px;
}
.see-more a:hover {
  background-color: #e02c6d;
  color: #ffffff;
  border-radius: 41px;
}
/* Bonus Part(App download section */
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: default;
}
.bottom-left {
  margin-left: 120px;
}
.pickup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pickup li {
  list-style: none;
  margin: 10px;
  cursor: pointer;
}
.pickup li:hover {
  color: #e02c6d;
}

.bottom-right {
  margin-right: 120px;
}
.download {
  display: flex;
  cursor: pointer;
}
.download img {
  width: 200px;
  height: 140px;
  padding: 20px;
}
.download-text {
  color: #e02c6d;
}
/* Footer Styles */
footer {
  width: 100%;
  background-color: #0a0826;
  color: #fefefe;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  cursor: default;
}
footer ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 0;
  padding-left: 0;
}

footer ul li {
  list-style: none;
  background: #fefefe;
  width: 50px;
  margin: 2px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #ffffff;
}
.footer-text:hover {
  color: #e02c6d;
}

/* Responsive Media Query */

/* Mobile View */
@media only screen and (max-width: 688px) {
  .body,
  .container {
    width: 100%;
    text-align: center;
  }
  #home {
    margin: 0;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  hr {
    display: none;
  }
  .main {
    padding: 0;
    margin: 0;
  }
  .banner-left p,
  .bottom-right p,
  .footer-items p {
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
  }
  .banner-left h1 {
    font-size: 25px;
  }
  .navigation {
    display: none;
  }
  .page-title {
    align-items: center;
  }
  .banner,
  .header,
  .collections,
  .bottom,
  .pickup,
  .download {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .logo,
  .collection {
    margin: 0;
    padding: 0;
    width: 95%;
  }
  .banner-left,
  .collection,
  .banner-right,
  .bottom-left,
  .bottom-right {
    margin: 10px 0;
    width: 100%;
  }
  .banner-right img {
    background-position: center;
    background-size: 100%;
    width: 80%;
  }

  .collection img {
    width: 329px;
    height: 476px;
  }
}
